@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.5px;
  scrollbar-color: rebeccapurple green;
}

.cursive {
  font-family: "Gloria Hallelujah", cursive;
}

.parent-hover:hover .child-hover {
  rotate: -15deg;
  scale: 1.1;
}
